@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 12px/1.8 'Inter';
    background-image: url('./image/background.jpg');
}

h2 {
    text-transform: uppercase;
}
p {
    font-size: 10px;
    color: #696159;
    padding-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cards-list {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.card {
    flex: 1 0 30%;
    background-color: #fff;
    padding: 15px;
    position: relative;
}

.card:nth-child(1) {
    height: 55%; /* Set the height of the third card to 100% */
}
.card:nth-child(2) {
    height: 65%; /* Set the height of the second card to 110% */
}

.card:nth-child(3) {
    height: 60%; /* Set the height of the third card to 100% */
}

.card a {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    position: absolute;
    bottom: 30px; /* Adjust this value to move it up or down */
    
}

.numeric {
    font-size: 50px;
    font-weight: bold;
}

.card ul.conditions {
   
    list-style-type: none; /* Remove default bullets */
    line-height: 2;
}

.card ul.conditions li {
    position: relative;
    padding-left: 15px; /* Add space for check mark */
}

.card ul.conditions li::before {
    content: '\2713'; /* Unicode character for check mark */
    position: absolute;
    left: 0;
}

