* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 Verdana, sans-serif ;
}

header {
    display:flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(0,0,0);
    justify-content: space-between;
    padding: 1em 2em;
}

header ul {
    display: flex;
}

 p {
    padding: 1em;
}

li a {
    padding: 0 2em;
    justify-content: space-between;
    color: rgb(0, 153, 0)
}
p {
    padding: 1em;
}